body {
  font-family: Futura, sans-serif;
  font-size: 32px;
  background-color: rgb(255, 179, 134);
}

h1 {
  text-align: center;
  line-height:100px;
  width: 290px;
  height: 110px;
  padding: 20px;
  color : whitesmoke;
  border: 10px solid whitesmoke;
  margin: 20px auto;
  background-color: rgb(255, 179, 134);
}

h2 {
  color: whitesmoke;
}

.imgback {
  width: 1440px;
  height: 450px;
}