body {
  color: rgb(233, 212, 200);
  font-family: Futura, sans-serif;
  font-size: 32px;
  background-color: whitesmoke;
}

.upblock {
  text-align: center;
  line-height:100px;
  width: 290px;
  height: 110px;
  padding: 20px;
  border: 10px solid rgb(233, 212, 200);
  margin: 50px auto;
  background-color: whitesmoke;
}


h2:hover {
  color: rgb(216, 159, 126);
}


}

.country {
  text-align: center;
}

.firstword {
  text-align: center left;
}

.secword {
  text-align: right;
}

.imgback {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 300px;
}

hr {
  border: none;
  color: rgb(233, 212, 200);
  background-color: rgb(233, 212, 200);
}

footer {
  font-size: 16px;
}


